<div class="mt-2 box animated fadeIn">
    <div class="texto">
        <h2>Green Leaves</h2>
    </div>
    <div class="im">
        <img src=".././../../assets/recursos/Img/hoja.png" alt="">
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-4 mt-lg-5 container con">
        <form autocomplete="off" (ngSubmit)="enviarCorreo(f)" #f="ngForm">
            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">Ingresa un correo Válido</small>
                <input type="email" name="correo" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-invalid]="correo.invalid && correo.touched" [(ngModel)]="emailR.paraTo"
                    #correo="ngModel">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Asunto</label>
                <small *ngIf="nom.invalid && nom.touched" class="form-text text-danger">Ingresa más de 3 Carácteres</small>
                <input type="text" name="nom" class="form-control" placeholder="Asunto" required [class.is-invalid]="nom.invalid && nom.touched" [(ngModel)]="emailR.asunto" #nom="ngModel">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Texto</label>
                <textarea class="form-control" name="txt" id="exampleFormControlTextarea1" rows="5" [class.is-invalid]="txt.invalid && txt.touched" [(ngModel)]="emailR.Body" #txt="ngModel"></textarea>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">&nbsp;</label>
                <div class="input-group col-md-8">
                    <button type="submit" class="btn btn-outline-info btn-block">Enviar  <i class="far fa-save"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>